[default]
user=shard_query
password=shard_query

[config]
db=shard_query
host=127.0.0.1

schema_name=ssb
mapper=directory
column=LO_OrderDateKey
column_datatype=integer

inlist=false
between=false
inlist_merge_threshold=128
;will get split into many lists of this many items
inlist_merge_size=64
coord_engine=MYISAM
lookup_db=shared
aws_secret_key=false
aws_access_key=false
gearman=127.0.0.1:4730
shared_path=/tmp
root_user=root
root_password=false
[ssb1]
[ssb2]
[ssb3]
[ssb4]
[ssb5]
[ssb6]
[ssb7]
[ssb8]
[ssb9]
[ssb10]
[ssb11]
[ssb12]
